.about {
    &__text {
        font-size: 18px;
        line-height: 1.6;

        &:not(:last-child) {
            margin-bottom: 60px;
        }
        
        @media (max-width: 1200px) {
            font-size: 16px;
        }

    }

    &__content {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1200px) {
            flex-wrap: wrap;
        }
    }
}

.member-card {
    width: calc((100% - 50px) / 2);

    @media (max-width: 1200px) {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &:nth-child(2n + 1) {
        margin-right: 50px;

        @media (max-width: 1200px) {
            margin-right: 0;
        }
    }
    
    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        border-radius: 50%;
        background-color: grey;
        margin-right: 40px;

    }

    &__name {
        text-align: left;
        color: $green;
        line-height: 1.6;

    }

    &__title {
        font-weight: 700;
        font-size: 24px;

        @media (max-width: 576px) {
            font-size: 20px;
        }
    }

    &__position {
        font-size: 20px;

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__text {
        margin-top: 30px;
        font-size: 18px;
        line-height: 1.6;

        &:not(:last-child) {
            margin-bottom: 60px;
        }

        @media (max-width: 1200px) {
            font-size: 16px;
        }
    }
}