.about {
    &__text {
        font-size: 18px;
        line-height: 1.6;

        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }
}

.member-card {
    width: calc((100% - 50px) / 2);

    &:nth-child(2n + 1) {
        margin-right: 50px;
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        border-radius: 50%;
        background-color: grey;
        margin-right: 40px;

    }

    &__name {
        text-align: center;
        color: $green;
        line-height: 1.6;

    }

    &__title {
        font-weight: 700;
        font-size: 24px;
    }

    &__position {
        font-size: 20px;
    }

    &__text {
        margin-top: 30px;
        font-size: 18px;
        line-height: 1.6;

        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
}