.edu {

    &__list {
        display: flex;
        gap: 45px;
    }

    &__item {
        width: calc((100% - 45px) / 2);
    }
}

.edu-card {
    width: 100%;
    text-align: center;

    &__img {
        object-fit: cover;
        margin: 0 auto;
    }

    &__content {
        padding: 45px;
    }

    &__title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    &__text {

        text-align: left;
    }
}