
.project-card {
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
        transition: filter 1s;
    }

    &--edu {
        @media (max-width: 768px) {
            display: flex;
            min-height: 100vh;
            height: 100%;

            .project-card__overlay {
                height: auto;
                padding: 70px 15px;
            }
        }
    }

    // далі 4 моди карток на головній
    &--100wom:after {
        background-image: url('../images/projects/100women/Maria-Petrenko.jpg');
    }

    &--diaries:after {
        background-image: url('../images/projects/diaries/00-chotyrbok-sofiya.jpg');
    }

    &--nfts:after {
        background-image: url('../images/home/evaholts.jpg');
    }

    &--donate:after {
        background-image: url('../images/home/donate.jpg');
    }

    &--donates:after {
        background-image: url('../images/donates.jpg');
    }

    &--education:after {
        background-image: url('../images/edu/2.jpg');
    }

    &--contacts {
        &:after {
            content: none;
        }

        .project-card__overlay {
            background-color: transparent;
            color: $dark-900;
        }
    }


    // картка на сторінці нфт-платформи
    &--nft-page-bg:after {
        background-image: url('../images/nft/hanna-sturdust.jpg');
    }

    // модифікована картка проекту із заблуренням на ховері
    &--int {
        .project-card__overlay {
            opacity: 0;
        }

        &:hover {

            &:after {
                filter: blur(7px);
            }
    
            .project-card__overlay {
                opacity: 1;
            }
        }

        @media (max-width: 1200px) {
            // &:after {
            //     filter: blur(7px);
            // }
    
            .project-card__overlay {
                opacity: 1;
            }
        }
    }

    &--edu:after {
        background-image: url('../images/edu.jpg');
    }


    &__overlay {
        background-color: rgba(10, 10, 12, 0.5);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $light;
        text-align: center;
        z-index: 3;
        opacity: 1;
        transition: opacity 1s;

        @media (max-width: 768px) {
            padding: 0 15px;
        }
    }

    &__title {
        font-size: 48px;
        margin-bottom: 20px;

        @media (max-width: 576px) {
            font-size: 36px;
        }
    }

    &__text {
        max-width: 700px;
        font-size: 18px;
        margin-bottom: 30px;
        text-align: left;

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__icon {
        fill: #fff;
        margin-left: 48px;
        transition: transform 0.3s, margin-left 0.6s;

        @media (max-width: 576px) {
            margin-left: 35px;
        }
    }

    &__text-link {
        font-weight: 700;
        text-decoration: underline #fff;

        &--contacts {
            padding: 8px 25px 6px;
            text-transform: uppercase;
            border: 1px solid $green;;
        }

        &:hover {
            color: $green;
            text-decoration-color: transparent;
        }

        &:focus {
            color: $green;
            outline: transparent;
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__link {
        font-size: 24px;
        padding: 12px 17px 12px 60px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        transition: padding 0.6s;



        &:hover {
            padding: 12px 35px 12px 80px;

            .projects__icon {
                transform: scale(1.3);
                margin-left: 68px;
            }
        }

        @media (max-width: 576px) {
            font-size: 18px;
            padding: 8px 16px 8px 35px;
        }
    }
}


